<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.law.piks">
    <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- 可选 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:name=".app.PiksApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_piks"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionbar">
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".others.AboutActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".splash.IntroActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".others.AboutMeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".others.AppreciationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".browse.GalleryActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".edit.FilterActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".edit.CropActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".splash.DispatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--下载新版本-->
        <service android:name=".others.update.UpdateService"/>
        <!-- Glide 定制 -->
        <meta-data
            android:name="com.law.piks.app.CustomGlideModule"
            android:value="GlideModule"/>
        <!-- BUG_HD  -->
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="b4b783c8e3f834735a83e74d3d5a6c6b"/>
    </application>
</manifest>